body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.customPadding {
    padding: 15px;
}

.center {
    float: none;
    margin: 0 auto
}
.red {
	color: #FF0000;
}
